@media screen and (max-width: 576px) {
  #nav-bar .container {
    justify-content: start;
  }
  #nav-bar .container .center {
    justify-content: start;
    border: none;
  }

  #certificate {
  }
}
